@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: black;
  color: white;
  font-family: 'Outfit', 'Open Sans', 'Roboto Condensed', sans-serif;
  min-height: 100vh;
}

.App {
  width: 90%;
  margin: auto;
}
